<div class="col-lg-12 grid-margin stretch-card ">
  <div class="dash-right">
    <div class="dash-header">
      <div class="dash-title">
        <h3>Liste des utilisateurs</h3>
      </div>
      <div class="dash-nav">
        <a [routerLink]="['create-user']" class="btn btn-success">Add user</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div *ngIf="!users.length" class="m-auto ">
           <h1>Pas de users disponibles</h1>
      </div>
      <table class="table table-striped" *ngIf="users.length >= 1">
        <thead>
          <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>profil</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | paginate: config">
            <td class="py-1">
              <img src="data:image/png;base64,{{ user.avatar }}" alt="image" />
            </td>
            <td>{{ user.nom }}</td>

            <td>{{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td class="action">
              <a
                [routerLink]="['/admin/posts/detail', user.id]"
                class="btn btn-primary btn-sm"
                >Detail</a
              >
              <a
                [routerLink]="['/admin/posts/edit', user.id]"
                class="btn btn-info btn-sm"
                >Edit</a
              >
              <a (click)="onDelete(user.id)" class="btn btn-danger btn-sm"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
        <pagination-template
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
        >
          <div class="custom-pagination">
            <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
              <span *ngIf="!p.isFirstPage()" (click)="p.previous()"
                >previous</span
              >
            </div>
            <div
              class="page-number"
              *ngFor="let page of p.pages"
              [class.current]="p.getCurrent() === page.value"
            >
              <span
                (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value"
                >{{ page.label }}</span
              >
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <div class="pagination-next" [class.disabled]="p.isLastPage()">
              <span *ngIf="!p.isLastPage()" (click)="p.next()"> next </span>
            </div>
          </div>
        </pagination-template>
      </table>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
