.bg-blue {background-color:#007EDB;}
.navbar-brand img { height:60px; width: 40px; margin-top: -1.5em; border-radius: 0 0 5px 5px;}
.navbar-dark .navbar-nav .nav-link {color:#fff;}
.navbar-dark .navbar-nav .active .nav-link {color:#fff;}

