.navbar {
  height: 3.1em;
  text-align: center;
  background-color: #ccc;
  box-shadow: 0 5px 10px 0 rgb(37, 21, 21);

  border: solid 1px #dde4eb;
  // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  // box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}


